@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <h1>Toi da o day</h1>
    <h1>Nghĩa da o day </h1>
    <h1>Huy da o day</h1>
    <h1>Nhat da o day ehe</h1>
    <h1>Chien da o day ehe</h1>
    
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
